.logoOuakkaha {
  margin-top: 8rem;
  padding-left: 6rem;
  padding-bottom: 3px;
  background-color: #f8f9fa;
}
.contact {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f8f9fa;
  padding-bottom: 30px;
}

.contenu,
.form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contenu h1 {
  font-size: 26px;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.contenu h5 {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.contenu p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.6;
}

.contenu div {
  margin-top: 15px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.contenu strong {
  color: #222;
  font-size: 17px;
}

.contenu span {
  display: block;
  color: #f55b09;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

/* Formulaire de contact */
.form p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 14px;
  color: #555;
  text-align: left;
  font-weight: bold;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 10.5rem;
}

.buttonOuakkaha {
  background-color: #f55b09;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttonOuakkaha:hover {
  background-color: #fff;
  color: #f55b09;
  box-shadow: 0 6px 12px rgba(245, 91, 9, 0.4);
  transform: scale(1.03);
  border: 2px solid #f55b09;
}

/* Responsive Design */
@media (min-width: 768px) {
  .contact {
    flex-direction: row;
    gap: 20px;
  }

  .contenu,
  .form {
    width: 45%;
    margin-bottom: 0;
  }
}
